body {
    text-align: center;
    background-color: #15a123;
  }
  
  div {
    margin-top: 25px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(151, 8, 8);
  }
  